{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('user.atualizar_senha') }}" class="container form" method="post">
    <label for="senha_nova">Senha Nova</label>
    <input type="password" placeholder="Senha Nova" required minlength="8" name="senha_nova" id="senha_nova" style="max-width: 600px;">
    <input type="password" placeholder="confirme a nova senha" required minlength="8" id="repetir_senha" name="repetir_senha" style="max-width: 600px;">
    <input type="submit" value="Salvar">
</form>
{% endblock %}