<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gerenciamento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <title>{% block title %}Gerenciamento de Fármacos {% endblock %}</title>
</head>
<style>
    .fcorpo .perfil {
        font-size: 2em;
        transition: all .1s ease-out;
    }

    .fcorpo .perfil:hover {
        transform: scale(1.2);
    }

    #a-perfil:hover {
        background-color: transparent;
    }
</style>
{% block style %} {% endblock %}

<body>
    <header class="container">
        <h1>
            <a href="{{ url_for('index') }}" class="fcorpo">
                Cadastro de Fármacos
            </a>
        </h1>
        <span class="material-symbols-outlined" id="sanduiche">Menu</span>
        <nav class="colapse" id="colapse">
            {% block a %} {% endblock %}
            <a href="{{ url_for('produtos.listar_produtos') }}" class="fcorpo">Fármacos</a>
            <a href="{{ url_for('cadastro.cadastrar_produto') }}" class="fcorpo">Cadastro</a>
            <a href="#" class="fcorpo">Estoque</a>
            <a href="{{ url_for('user.perfil') }}" class="fcorpo" id="a-perfil"><span
                    class="material-symbols-outlined perfil">
                    account_circle
                </span></a>
        </nav>
    </header>

    <main>
        {# Loop para exibir as mensagens flash #}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div>
            <p class="alert {{category}}">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {# O conteúdo único de cada página irá aqui #}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Gestão da Farmácia. Todos os direitos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/colapse-menu.js') }}"></script>
    {% block scripts %}{% endblock %} {# Para JavaScripts específicos da página #}
</body>

</html>