{% extends "base.html" %} {# Indica que este template herda de base.html #}

{% block title %}Cadastro de Fármacos{% endblock %} {# Define o título da página #}

{% block style %}
<style>
    .edit {
        background-color: #007bff;
        color: white;
    }

    .edit:hover{
        background-color: #0603ad;
    }

    .save {
        display: none;
        background-color: #2de859;
        color: white;
    }

    .save.ativo:hover{
        background-color: #04b32d;
    }

    .reset {
        background-color: #dc3545;
        color: white;
        display: none;
    }

    .reset.ativo:hover {
        background-color: #e00016;
    }

    .ativo{
        display: block;
    }

</style>
{% endblock %}

{% block a %}
<a href="{{ url_for('produtos.listar_produtos') }}" class="fcorpo">Gereciamento</a>
<a href="{{ url_for('cadastro.cadastrar_produto') }}" class="fcorpo">Cadastro</a>
{% endblock %}

{% block content %} {# Aqui começa o conteúdo específico desta página #}
<main class="main-utopic">
    <h1 style="margin-bottom: 10px;">Detalhes do Fármaco: {{ produto.nome_produto }}</h1>

    <form action="{{ url_for('produtos.update_produto', produto_id=produto.id) }}" class="container form" method="post" id="detalhes-edit-prod">

        <input type="hidden" name="id" value="{{ produto.id }}">

        <label for="nome">Nome do Fármaco</label>
        <input type="text" name="nome" id="nome" value="{{ produto.nome_produto }}" disabled required minlength="3"
            maxlength="100">

        <label for="desc">Descrição</label>
        <textarea name="desc" id="desc" maxlength="600" disabled>{{ produto.descricao }}</textarea>

        <label for="preco_compra">Preço de Compra (R$)</label>
        <input type="number" name="preco_compra" id="preco_compra" min="0" step="0.01" disabled value="{{ produto.preco_compra }}">

        <label for="preco_venda">Preço de Venda (R$)</label>
        <input type="number" name="preco_venda" id="preco_venda" min="0" step="0.01" disabled value="{{ produto.preco_venda }}">

        <label for="quantidade">Quantidade</label>
        <input type="number" name="quantidade" id="quantidade" min="1" required disabled value="{{ produto.quantidade }}">

        <label for=" fornecedor">Fornecedor</label>
        <input type="text" name="fornecedor" id="fornecedor" required disabled value="{{ produto.fornecedor }}">

        <label for="data-compra">Data de Compra</label>
        <input type="month" name="data-compra" id="data-compra" required disabled
            value="{{ produto.data_compra.strftime('%Y-%m') if produto.data_validade else '' }}">

        <label for="data-validade">Data de validade</label>
        <input type="month" name="data-validade" id="data-validade" required disabled
            value="{{ produto.data_validade.strftime('%Y-%m') if produto.data_validade else '' }}">

        <div class="group-buttons">
            <input type="button" value="Editar" id="edit" style="grid-column: 1 / 3;" class="edit">
            <input type="submit" value="Salvar" id="save" disabled style="grid-column: 3 / -1;" class="save">
            <input type="reset" value="Resetar" id="reset" disabled style="grid-column: 1 / 2;" class="reset">
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/detalhes-prod.js') }}"></script>
{% endblock %}