{% extends "base.html" %} {# Indica que este template herda de base.html #}

{% block title %}Gerenciamento de Produtos{% endblock %} {# Define o título da página #}

{% block style %}

<style>

    .btn {
        padding: 8px 5px;
        border-radius: 5px;
        color: white;
    }

    #editar-prod {
        background-color: #28a745;
    }
    .botao-tabela {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>

{% endblock %}

{% block a %}
<a href="{{ url_for('cadastro.cadastrar_produto') }}" class="fcorpo">Cadastro</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-bar">
        <form action="{{ url_for('produtos.listar_produtos') }}" method="GET">
            <input type="text" name="q" placeholder="Buscar por nome..." value="{{ request.args.get('q', '') }}">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody> {# O
    <tbody> agora está no lugar correto, após o <thead> #}
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome_produto }}</td>
                <td>{{ produto.descricao }}</td>
                <td class="botao-tabela">
                    <a href="{{ url_for('produtos.detalhes_produto', produto_id = produto.id) }}">
                        <span class="material-symbols-outlined btn" id="editar-prod">
                            edit
                        </span>
                        <a href="{{ url_for('produtos.') }}"></a>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% if not produtos %}
<p class="alert-red">Nenhum Produto encontrado</p>
{% endif %}
{% endblock %} {# Finaliza o bloco de conteúdo #}