{% extends "base.html" %} {# Indica que este template herda de base.html #}

{% block title %}Usuários{% endblock %} {# Define o título da página #}

{% block style %}

<style>
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 50px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }

    .editar-prod {
        background-color: #28a745;
    }

    .editar-prod:hover {
        background-color: #1e7e34;
    }

    .botao-tabela {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .delete {
        background-color: red;
    }

    .delete:hover {
        background-color: rgb(172, 0, 0);
    }

    button {
        border: none;
        background: transparent;
    }
</style>

{% endblock %}

{% block content %}
<div class="container">
    <div class="search-bar">
        <form action="{{ url_for('user.listar_user') }}" method="GET">
            <input type="text" name="q" placeholder="Buscar por nome..." value="{{ request.args.get('q', '') }}">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th style="text-align: center;">Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td style="text-align: center;">{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.cpf }}</td>
            <td class="botao-tabela">
                <a href="#">
                    <span class="material-symbols-outlined btn editar-prod">
                        edit
                    </span>
                </a>
                <button type="button" class="btn delete"
                    onclick="confirmDelete('{{ produto.id }}', '{{ produto.nome_produto }}')">
                    <span class="material-symbols-outlined">delete_forever</span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not usuarios %}
<p class="alert red">Nenhum Produto encontrado</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    function confirmDelete(userName) {
        if (confirm(`Tem certeza que deseja deletar o usuário "${userName}" Esta ação é irreversível!`)) {
            const form = document.createElement('form');
            form.method = 'POST';
            // A URL é montada corretamente aqui:
            form.action = `{{ url_for('produtos.deletar_produto', produto_id=0) }}`.replace('0', productId);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
{% endblock %}