{% extends "base.html" %} {# Indica que este template herda de base.html #}

{% block title %}Usuários{% endblock %} {# Define o título da página #}

{% block style %}

<style>
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 50px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }

    .editar-prod {
        background-color: #28a745;
    }

    .editar-prod:hover {
        background-color: #1e7e34;
    }

    .botao-tabela {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .delete {
        background-color: red;
    }

    .delete:hover {
        background-color: rgb(172, 0, 0);
    }

    button {
        border: none;
        background: transparent;
    }
</style>

{% endblock %}

{% block content %}
<div class="container">
    <div class="search-bar">
        <form action="{{ url_for('user.listar_user') }}" method="GET">
            <input type="text" name="q" placeholder="Buscar por nome..." value="{{ request.args.get('q', '') }}">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th style="text-align: center;">Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Is_Adm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td style="text-align: center;">{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td class="cpf">{{ usuario.cpf }}</td>
            <td>{{ usuario.is_adm }}</td>
            <td class="botao-tabela">
                <button type="button" class="btn delete"
                    onclick="confirmDelete('{{ usuario.cpf }}', '{{ usuario.nome }}')">
                    <span class="material-symbols-outlined">delete_forever</span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not usuarios %}
<p class="alert red">Nenhum Produto encontrado</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    function confirmDelete(UserCPF, userName) {
        if (confirm(`Tem certeza que deseja deletar o usuário "${userName}" Esta ação é irreversível!`)) {
            const form = document.createElement('form');
            form.method = 'POST';
            // A URL é montada corretamente aqui:
            form.action = `{{ url_for('user.deletar_user', user_cpf='CPF_PLACE') }}`.replace('CPF_PLACE', UserCPF)

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<script>
    const cpfTd = document.querySelectorAll('.cpf'); // Seleciona TODOS os elementos com a classe 'cpf'

    function formatCPF(cpf) {
        // Remove qualquer caractere não numérico antes de formatar
        const cleanedCpf = cpf.replace(/\D/g, '');
        // Aplica a formatação
        return cleanedCpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
    }

    // Itera sobre cada elemento encontrado e aplica a formatação
    cpfTd.forEach(element => {
        element.innerText = formatCPF(element.innerText);
    });
</script>
{% endblock %}