@import url(paleta.css);

@media screen and (min-width: 768px) {
    header {
        height: 500px;
        justify-items: center;
    }

    nav {
        width: 100%;
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
    }

    .colapse {
        overflow: visible;
        grid-column-start: 3;
        grid-column-end: -1;
        grid-auto-flow: column;
        max-height: 100px;
        transition: all 300ms ease;
    }

    .colapse a {
        border-radius: 15px;
    }

    #sanduiche {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 650px;
        background-image: url(../img/background-header-high.jpg);
    }

    nav {
        max-width: 900px;
    }

    .infor-header h1 {
        font-size: 2.5em;
    }

    .infor-header p {
        font-size: 1.5em;
    }

}