@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Raleway:ital@0;1&family=Titillium+Web&display=swap');

p,
a,
label{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
input {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #93BEDF;
    border-radius: 5px;
}